{% extends 'admin_ui/layout.html' %}
{% block content %}

<h2>Edit Transaction</h2>
<p class="text-muted">Update donation record.</p>

<form method="POST" class="bg-white p-4 rounded shadow-sm">
    {% csrf_token %}

    <div class="mb-3">
        <label>Member</label>
        <select name="member" class="form-control">
            {% for m in members %}
            <option value="{{ m.id }}"
            {% if donation.member.id == m.id %}selected{% endif %}>
            {{ m.username }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label>Amount</label>
        <input type="number" step="0.01"
               value="{{ donation.amount }}"
               name="amount"
               class="form-control">
    </div>

    <div class="mb-3">
        <label>Method</label>
        <select name="method" class="form-control">
            <option value="Cash" {% if donation.method == "Cash" %}selected{% endif %}>Cash</option>
            <option value="GCash" {% if donation.method == "GCash" %}selected{% endif %}>GCash</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Update</button>
    <a href="{% url 'admin-fundtracking-list' %}" class="btn btn-secondary">Cancel</a>

</form>

{% endblock %}